@(reverseRoute: play.api.mvc.Call, nifField: Field, passwordField: Field)
<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img src='@routes.Assets.versioned("images/icon.svg")' id="icon" alt="User Icon" />
                    </div>
                    @if(flash.containsKey("error")) {
                        <p><b style="color: brown;">@(flash.get("error"))</b></p>
                    }
                    @helper.form(reverseRoute, 'role -> "form") {
                        <input type="text" id="@(nifField.id)" class="fadeIn second" name="nif" placeholder="Introduca el NIF" value='@(nifField.value.getOrElse(""))' required>
                        <input type="password" id="@(passwordField.id)" class="fadeIn third" name="password" placeholder="Introduca la contraseña" value='@(passwordField.value.getOrElse(""))' required>
                        <input type="submit" class="btn btn-success" value="Iniciar Sesion" requiered>
                    }
                </div>
            </div>
            <p>Aliquam erat volutpat nam dui </p>
        </header>
    </div>
</section>
